<div class="navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="#">ADMIN</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="channels-menu"><a href="#/channels">Список каналів</a></li>
                    <li class="add-menu"><a href="#/channel/add"></i>Додати канал</a></li>
                </ul>
                
            </div>
        </div>
    </div>
</div>