
<span class="list-header"><%if(channel.typeip_id ==2){%>
            <div class="typeip_radio left"></div>
            <%}else{%>
            <div class="typeip_tv left"></div>
            <%}%><%= channel.name %><div class="delete-icon right"></div></span>

		<div class="details">
                    <img class="left" width="30" height="30" <% if(channel.img) {%>
             src="<%= channel.img  %>"
             <%}else{%>
             src="public/img/tv.png"
             <%}%>/>
             <table>
                 <tr>
                     <th>Href:</th>
                     <td><%=channel.href%></td>
                 </tr>
                 <tr>
                     <th>Опис:</th>
                     <td><%=channel.description %></td>
                 </tr>
             </table>
			
		</div>