<td><select id="typeip_id" name="typeip_id" >
                                <option value="1" <%=typeip_id == 1?'selected':''%> >TV</option>
                                <option value="2" <%=typeip_id == 2?'selected':''%>>RADIO</option>
                               
                            </select></td>
<td ><input id="name" type="text" value="<%=name%>"</td>
    <td><input id="href" type="text" value="<%=href%>"</td>
    <td><textarea id="description"><%=description%></textarea></td>
    
    <td><button class="save">Save</button></td>
    <td><button class="back">Відмінити</button></td>
    
