<table ng-show="!main.isAdmin" >
    <tr>
        <td id="channels">
            <ul class="list">
               <li ng-repeat="item in channels.items|filter:{name:search}|  filter:{type:type}|filter:{category:categories.type}">
               <div>

                    <img class="left" ng-show="item.img" width="128" height="128" ng-src="/uploads/img/{{item.img}}"/>
                    <img class="left" ng-show="!item.img" width="128" height="128" ng-src="/img/tv.png"/>
               </div>
                        <div class="info ">
                            <div ng-class="{typeip_radio:item.type=='Radio',typeip_tv:item.type=='TV'}" class="left"></div>
                            <div ng-show="main.loggedIn">
                                <div ng-show="item.added" class="added right"></div>
                                <div ng-show="!item.added" class="addchannel" ng-click="addToPlaylist(item)"></div>
                            </div>
                        
                            <h3>{{item.name}}</h3>
                            <h5><i>{{item.href}}</i></h5>
                            <p>{{item.desc}}</p>
                    
                </div>
                <div class="clear"></div>
            
        </li>    
            </ul>
        </td>
       
       <td class="panel">
            <div>
                <ul class="nav nav-list">
                    <li class="nav-header">Пошук</li>
                    <li><input class="search-query" ng-model="search" placeholder="Почніть вводити..."/></li>
                </ul>
                
                
            </div>
            <div class='type'>
                <ul class="nav nav-list">
                    <li class="nav-header">Тип телебачення</li>
                    <li data="0" ng-class="{active:type==''}" ><a href="#"  data-bypass ng-click="type=''">Всі</a></li>
                    <li data="1" ng-class="{active:type=='TV'}" ng-click="type='TV'"><a href="#" data-bypass >Тв</a></li>
                    <li data="2" ng-class="{active:type== 'Radio'}" ng-click="type='Radio'"><a href="#" data-bypass>Радіо</a></li>
                </ul>
            </div>
            <div class="category" >
                <ul class="nav nav-list">
                    <li class="nav-header">Категорія</li>
                    <li data="0" ng-class="{active:categories.type==''}" ><a href="#" ng-click="categories.type=''">Всі</a></li>
                    
                    <li ng-repeat="category in categories.items" ng-class="{active:categories.type==category._id}" ng-click="categories.type=category._id"><a href="#">{{category.name}}</a></li>
                    
                    
                </ul>
            </div>
        </td>
    </tr>
</table>
<div ng-show="main.isAdmin">
<h2>Канали <a   ng-click="showEdit=true;isNew=true" class="btn btn-success right">Додати канал</a></h2> 
<table class="table vetr-align" >
        <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Назва
            </th>
            <th>Посилання
            </th>
            <th>Тип
            </th>
            <th>Категорія
            </th>
            <th>Зображення
            </th>

        </tr>   
        </thead>

    
    <tr ng-repeat="item in channels.items">
        <td>

            {{$index+1}}
        </td>
        <td>
        
            {{item.name}}
        </td>
        <td >
            
            {{item.href}}
        </td>
        <td>
            {{item.type}}
        </td>
        <td> 
            {{categories.getCategoryById(item.category)}}  
        </td>
        <td><img ng-src="/uploads/img/{{item.img}}" width="50" alt="">
            {{item.img}}
        </td>
        
        <td>
            <button class="btn btn-default" ng-click="edit(item)">edit</button>
            <button class="btn btn-danger" ng-click="delete(item._id)">delete</button>      
        </td>

    </tr>
</table>
</div>

<div id="myModal" class="modal" style="width: 900px; left:0; right: 0; top:50px; margin: 0 auto;" role="dialog" ng-show="showEdit">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="showEdit=false" >&times;</button>
        <h4 class="modal-title">Редагувати канал</h4>
      </div>
      <div class="modal-body">
      <form >
      <table class="table">
            <tr>
                <th>Назва</th>
                <td><input class="form-control input-sm" ng-model="channel.name" type="text" name="name"></td>
            </tr>
            <tr>
                <th>Адреса</th>
                <td><input class="form-control input-sm" ng-model="channel.href" type="text"></td>
            </tr>
            <tr>
                <th>Тип каналу</th>
                <td><select class="form-control" ng-model="channel.type">
                        <option value="TV" ng-selected="true">TV</option>
                        <option value="Radio">Radio</option>
                        
                    </select>
                </td>
            </tr>
            <tr ng-controller="CategoryController as category">
                <th>Категорія</th>
                <td>
                <select class="form-control" ng-model="channel.category" ng-options="cat._id as cat.name for cat in category.categories.items">
                    <option value="">----</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Опис</th>
                <td><textarea class="form-control" rows="3" ng-model="channel.desc"></textarea></td>
            </tr>
            <tr>
                <th>Зображення</th>
                <td><input type="file" name="img" file-model="channel.file"></td>
            </tr>
        </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-show="isNew" class="btn btn-success" ng-click="post()">Зберігти</button>
        <button type="button" ng-show="!isNew" class="btn btn-success" ng-click="update()">Обновити</button>
      </div>
    </div>

  </div>
</div>
