<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Онлайн менеджер</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="home-menu"><a href="/home">Головна</a></li>
          <li class="channels-menu" ng-class="{active: main.isActive('/channels')}"><a href="/channels" data-bypass>Канали</a></li>
          
          <li ng-show="main.loggedIn&&!main.isAdmin" class="playlist-menu"><a href="#/playlist" data-bypass>Плей-лист (10)</a></li>
          <li ng-show="main.loggedIn&&!main.isAdmin" class="addchannel-menu"><a href="#/userchannel/add" data-bypass>Додати канал</a></li>
          <li ng-show="main.loggedIn&&!main.isAdmin" class="userchannels-menu"><a href="#/userchannels" data-bypass>Мої канали</a>
          <li ng-show="main.isAdmin" class="userchannels-menu" ng-class="{active: main.isActive('/categories')}"><a href="/categories" data-bypass>Категорії</a></li>
           <li ng-show="main.isAdmin" class="userchannels-menu" ng-class="{active: main.isActive('/users')}"><a href="/users" data-bypass>Користувачі</a></li>
        </ul>
        
        <div class="right">
            <img class="ajax-loader" style="display: block; position: fixed; left: 0; bottom: 0;" ng-if="main.l.ajax" width="250" src="img/spinner.gif" alt="Loading..." />
            <ul class="nav navbar-nav navbar-right" ng-show="main.loggedIn">
                <li><a id="account-link" href="/profile" >{{main.user.uname}}</a></li>
                <li><a id="logout-link" href="/" ng-click="main.logout()"  >Вихід</a></li>
                
          
            </ul>
            <ul class="nav" ng-show="!main.loggedIn">
              <li class="login-menu"><a href="/login">Вхід</a></li>
              <li class="singup-menu"><a href="/signup">Реєстрація</a></li>
            </ul>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
