<h1 ng-show="channels.length==0" >У вас нема каналів</h1>

<table ng-show="!main.isAdmin" >
    <tr>
        <td id="channels">
            <ul class="list">
               <li ng-repeat="item in channels|filter:{name:search}|  filter:{type:type}|filter:{category:categories.type}">
               <div>

                    <img class="left" ng-show="item.img" width="128" height="128" ng-src="/uploads/img/{{item.img}}"/>
                    <img class="left" ng-show="!item.img" width="128" height="128" ng-src="/img/tv.png"/>
               </div>
                        <div class="info ">
                            <div ng-class="{typeip_radio:item.type=='Radio',typeip_tv:item.type=='TV'}" class="left"></div>
                            <div ng-show="main.loggedIn">
                                <div class="delete-icon right" ng-click=delete(item._id,$index)></div>
                            </div>
                        
                            <h3>{{item.name}}</h3>
                            <h5><i>{{item.href}}</i></h5>
                            <p>{{item.desc}}</p>
                    
                </div>
                <div class="clear"></div>
            
        </li>    
            </ul>
        </td>
        <td class="panel" ng-show="channels.length>0">
            <div>
                <ul class="nav nav-list">
                    <li class="nav-header">Пошук</li>
                    <li><input class="search-query" ng-model="search" placeholder="Почніть вводити..."/></li>
                </ul>
                
                
            </div>
    </tr>
</table>
