<div id="login-template" class="container">
	
        <div class="col-md-2"></div>

        <div class="col-md-5 well well-lg text-center">
            <h1>Реєстрація</h1>
            <div class="height:50px;">
                <ul id="signup-errors" class="parsley-error-list"></ul>
            </div>
            <form id="signup-form" class="form" data-validate="parsley">
                <fieldset>
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" id="signup-username-input" name="login" placeholder="Логін" value="<%= user.username || '' %>"
                                data-required="true" data-notblank="true">
                            <span class="help-block"></span>
                        </div>
                    </div>
                      <div class="control-group">
                        <div class="controls">
                            <input type="text" id="name-name-input" name="name" placeholder="Ім'я" value="<%= user.name || '' %>"
                                data-required="true" data-notblank="true">
                            <span class="help-block"></span>
                        </div>
                    </div>
                     <div class="control-group">
                        <div class="controls">
                            <input type="text" id="surname-name-input" name="name" placeholder="Прізвище" value="<%= user.surname || '' %>"
                                data-required="true" data-notblank="true">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" id="email-name-input" name="name" placeholder="Імейл" value="<%= user.mail || '' %>"
                                data-required="true" data-notblank="true">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <div class="controls">
                            <input class="input-medium" type="password" id="signup-password-input" placeholder="Пароль" name="user_password" 
                                value="" data-required="true" data-notblank="true" data-rangelength="[5,25]">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="control-group mb20">
                        <div class="controls">
                            <input class="input-medium" type="password" id="signup-password-confirm-input" placeholder="Повторити пароль" name="user_password" 
                                value="" data-required="true" data-notblank="true" data-rangelength="[5,25]" data-equalto="#signup-password-input">
                            <span class="help-block help-block1"></span>
                        </div>
                    </div>
                    <a href="#" id="signup-btn" class="btn btn-primary btn-lg" data-bypass>Реєструватися</a>
                    
                </fieldset>
            </form>
        </div>

	
</div>
