<div class="hero-unit">
  <h1>Онлайн менеджер</h1>
  <p>Технологія IPTV (англ. Internet Protocol Television) - цифрове інтерактивне телебачення в мережах передачі даних по протоколу IP, нове покоління телебачення. Для перегляду IPTV на ПК використовуються медіаплеєри, які вміють виступати в якості сервера для трансляції потоку аудіо / відео по мережі (VLC media player). Доставка контенту до клієнтського обладнання здійснюється поверх IP-мережі оператора.</p>
  <p>Інтерне-радіо або веб-радіо — група технологій передачі потокових аудіоданих через мережу Інтернет. Також як термін інтернет-радіо або веб-радіо може розумітися радіостанція, що використовує для мовлення технологію потокового мовлення в Інтернет.</p>
</div>

<div class="row">
  <div class="span6">
      <img src="public/img/1546.jpg"/>  
  </div>
  <div class="span6">
     <img src="public/img/Radio_Silence_Black_Logo.jpg"/>  
  </div>
</div>
