<table >
    <tr>
        <td id="channels">
            <ul class="list">
                
            </ul>
        </td>
       
       <td class="panel">
            <div>
                <ul class="nav nav-list">
                    <li class="nav-header">Пошук</li>
                    <li><input class="search-query" placeholder="Почніть вводити..."/></li>
                </ul>
                
                
            </div>
            <div class='type'>
                <ul class="nav nav-list">
                    <li class="nav-header">Тип телебачення</li>
                    <li data="0" class="active" ><a href="#"  data-bypass>Всі</a></li>
                    <li data="1"><a href="#" data-bypass>Тв</a></li>
                    <li data="2"><a href="#" data-bypass>Радіо</a></li>
                </ul>
            </div>
            <div class="category">
              
            </div>
        </td>
    </tr>
</table>
